*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
   
}


body {
    
    background: linear-gradient(45deg, #161616, #000000);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
            
} 

@keyframes colors {
    0%{
        background-position: 0% 50% ;
    }
    50%{
        background-position: 100% 50% ;
    }
    100%{
        background-position: 0% 50% ;

    }
}

li{
    color: white;
}


header{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
 
}

.logo{
    font-size: 50px;
    color: white;
    padding: 15px;
    margin-left: 50px;
}

.botoes{

    width: 350px;
    margin-left: 350px;
    display: flex;
    justify-content: space-between;
    list-style: none;
   
}


.aheader{
    border: none;
    font-size: 25px;
    text-decoration: none;
}


.icones{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 30px;
    width: 150px;
    margin-left: 30px;

}

#insta, #facebook, #twitter{
    border: white 1px solid;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    text-align: center;
    
  
}

i{
    margin-top: 9px;
}

.lets_connect{
    border: white solid 1px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: white;
    background:none;
    margin-left: 30px;
    cursor: pointer;
}

main{
    display: flex;
    justify-content: space-between;
}

.apresentation{
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.welcome{
    margin-bottom: 10px;
}

.text{
    margin-top: 10px;
    text-align: justify;
    width: 500px;
}

.hi{
    animation: colors 5s;
    overflow: hidden;
    white-space: nowrap;
}

.lets_connect2{ 

    border: white solid 1px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: white;
    background:none;
    cursor: pointer;
    margin-top: 50px;


}

@keyframes colors {
    from {color: transparent;}
    to {color: white;}
}

.fonergb{
    width: 450px;
    height: 600px;
    margin-right: 50px;
    margin-top: 20px;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    

}

@keyframes float{
    0%{
        transform: translateY(0px);
    } 50%{
        transform: translateY(-35px);
    }100%{
        transform: translateY(0px);
    }
}

.functions{
    margin-left: 160px;
    background-color: #161616;
    width: 1200px;
    height: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    border-radius: 30px;
}

